.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.display-time{
  font-size: 45px;
  font-weight:bold;
  margin: 60px 0;
}
.Button{
  width:130px;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px;
  border: 0 none;
  border-radius: 4px;
  color:#fff;

  box-shadow: #222222 2px 2px;
}
.success{
  background-color: lightgreen;
}
.warning{
  background-color: gold;
}

.primary{
  background-color: skyblue;
}
.undefined{
  background-color: lightgray;
}
.log{
  text-align: center;
  font-size: 20px;
  color: lightgrey;
}
.log .empty-log{
  display: inline-block;
  padding: 50px;
}









